# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=ecommerce-events

# Application
APP_ENV=development

# Storage
RAW_DATA_PATH=storage/raw/
PROCESSED_DATA_PATH=storage/processed/

# AWS
AWS_REGION=eu-central-1

# Snowflake
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=ecommerce_db
SNOWFLAKE_WAREHOUSE=compute_wh
SNOWFLAKE_SCHEMA=analytics